.button_type_edit {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .button_type_edit{
    width: 18px;
    height: 18px;
  }
}
